.inputFieldWrapper{
    margin-bottom: 20px;
}
.btnWrapper{
    padding-top: 15px;
    
}

.ag-cell-focus,.ag-cell-no-focus{
    border:none !important;
  }
  /* This CSS is to not apply the border for the column having 'no-border' class */
  .no-border.ag-cell:focus{
    border:none !important;
    outline: none;
  }